<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= render 'info', customer: @customer %>
    </div>
    <div class='col-md-8'>
      <h2 class="mb-4 text-center">投稿記事一覧</h2>
      <div class="images">
        <% @post_items.each do |post_item| %>
        <div class="dish_image text-center mx-4">
          <div class="img">
            <%= link_to post_item_path(post_item.id), class:"text-dark" do %>
            <%= image_tag post_item.get_image, size: "200x200" %></div>
              <% if post_item.name.length > 26 %>
                <%=  post_item.name[0..25] + '...' %>
              <% else %>
                <%= post_item.name %>
              <% end %>
            <% end %>
            <% if post_item.customer == current_customer %>
            <P><%= link_to '編集', edit_post_item_path(post_item), class: "btn btn-sm btn-success mr-1", style: "width: 80px;" %>
            <%= link_to '削除', post_item_path(post_item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger", style: "width: 80px;" %></P>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-12 offset-md-7 mt-4'>
    <%= paginate @post_items %>
  </div>
</div>


