<%= link_to 'いいね日', rank_path(favorite_daycount: "true") %>
 |<%= link_to 'いいね週', rank_path(favorite_weekcount: "true") %>
 |<%= link_to 'いいね月', rank_path(favorite_monthcount: "true") %>
 
<table class='table table-hover table-inverse'>
  <h4>いいね数ランキング</h4>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @post_favorite_ranks.each.with_index(1) do |post, i| %>
    <tr>
      <td>第<%= i %>位</td>
      <td><%= post.name %></td>
      <td><%= post.name %></td>
      <td><i class="fas fa-heart"></i> <%= post.favorites.count %>いいね</td>
      <td><%= l post.created_at %></td>
      
    </tr>
  <% end %>
  </tbody>
</table>