<div class="container">
  <h1 class="text-center my-5">グループ一覧</h1>
  <div class="row my-4 justify-content-center">
    <div class="col-md-5">
      <div class="group-search">
      <%= form_with url: groups_path, method: :get, local: true, class: 'input-group' do |f| %>
        <%= f.text_field :keyword, placeholder: "グループ検索", class: "form-control" %>
        <%= f.submit '検索', class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
    <div class="col-md-5">
      <div class="group-new">
      <%= link_to '新しくグループを作成する', new_group_path, class: "btn btn-info" %>
    </div>
      </div>
  </div>
  
  
  <% if @groups.empty? %>
    <div class="group-none text-center mt-3">
      <%= @group_none %>
    </div>
  <% else %>
    <div class="card-columns mx-auto mt-3" style="max-width: 1000px;">
      <% @groups.each do |list| %>
        <div class="card my-5">
          <%= link_to "/groups/#{list.id}", class: "text-decoration-none" do %>
            <%= image_tag list.get_image, size: '200x300', class: "card-img-top" %>
            <div class="card-body" style="height: 200px;">
              <h5 class="card-title"><%= list.name %></h5>
              <p class="card-text">
                <% if list.introduction.length > 50 %>
                  <%= list.introduction[0..49] + '...' %>
                <% else %>
                  <%= list.introduction %>
                <% end %>
              </p>
            </div>
          <% end %>
          <% if list.is_owned_by?(current_customer) %>
            <div class="card-footer">
              <%= link_to '編集', edit_group_path(list.id), method: :get, class: "btn btn-primary mr-2" %>
              <%= link_to '削除', "/groups/#{list.id}", method: :delete, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>