<div class="container">
  <h1 class="text-center my-5">グループ一覧</h1>
  <div class="row my-4 justify-content-center">
    <div class="col-md-5">
      <%= render 'public/searches/group_form', keyword: @keyword  %>
    </div>
    <div class="col-md-5">
      <div class="group-new">
        <%= link_to '新しくグループを作成する', new_group_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-columns mx-auto mt-3" style="width: 100%;">
      <% @groups.each do |list| %>
        <div class="card my-5" style="width: 330px; height: 510px;">
          <%= link_to "/groups/#{list.id}", class: "text-decoration-none",data: {"turbolinks"=>false} do %>
            <%= image_tag list.get_image, size: '200x300', class: "card-img-top", style: "object-fit: cover;" %>
            <div class="card-body" style="height: 150px;">
              <h5 class="card-title text-dark"><%= list.name %></h5>
              <p class="card-text text-dark">
                <% if list.introduction.length > 55 %>
                  <%= list.introduction[0..54] + '...' %>
                <% else %>
                  <%= list.introduction %>
                <% end %>
              </p>
              <div class="mt-2 text-dark"><%= l list.created_at %></div>
            </div>
          <% end %>
          <% if list.is_owned_by?(current_customer) %>
            <div class="card-footer">
              <%= link_to '編集', edit_group_path(list.id), method: :get, class: "btn btn-success mx-3", style: "width: 100px;" %>
              <%= link_to '削除', group_path(list.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger mx-3", style: "width: 100px;" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class='col-md-12 offset-md-5 mt-4'>
  <%= paginate  @groups %>
</div>