<div class="container">
  <h1 class="text-center my-5">いいね数ランキングトップ10</h1>
  <div class="row">
    <div class="col-md-6 offset-md-4 my-5">
      <div class="btn-group">
        <%= link_to '日間ランキング', admin_rank_path(favorite_daycount: "true"), class: 'btn btn-secondary' %>
        <%= link_to '週間ランキング', admin_rank_path(favorite_weekcount: "true"), class: 'btn btn-secondary' %>
        <%= link_to '月間ランキング', admin_rank_path(favorite_monthcount: "true"), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @post_favorite_ranks.first(10).each.with_index(1) do |post, i| %>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 350px; height: 550px;">
          <%= link_to post_item_path(post.id) do %>
            <%= image_tag post.get_image, class: "card-img-top" %>
           <% end %>
          <div class="card-body">
            <h5 class="card-title">第<%= i %>位</h5>
            <%= link_to admin_post_item_path(post.id) do %>
              <% if post.name.length > 65 %>
                <h6 class="mb-2 text-dark"><%= post.name[0..64] + '...' %></h6>
              <% else %>
                <h6 class="mb-2 text-dark"><%= post.name %></h6>
              <% end %>
            <% end %>
            <p class="card-text">
              <i class="fas fa-user"></i> <%= post.customer.name %> ｜
              <i class="far fa-comment"></i><%= post.post_comments.count %> ｜
              <i class="fas fa-eye"></i><%= post.view_counts.count %> | 
              <i class="fas fa-heart"></i> <%= post.favorites.count %>
            </p>
            <p><%= l post.created_at %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>