<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <div style="position: relative;">
        <%= image_tag "top_image.jpg", size: '1000x600', class: "main-visual-image img-fluid" %>
        <div class="text-center" style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, 0.7); padding: 20px; width: 1000px;">
          <p style="font-size: 18px">
            ようこそ、BestBuyへ！<br>
            このサイトは、ユーザーが最近の「おすすめ商品」を紹介し合ったり、<br>
            好きな商品や注目の商品について自由に話し合うためのコミュニティサイトです。<br>
            会員登録をすると記事の投稿、いいね・コメントができます。<br>
            ゲストアカウントでのログインをご利用いただけます<br>
            ：<%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 offset-md-4 my-5">
    <h3>人気商品ランキングトップ３</h3>
  </div>
    <div class="row">
      <% @post_favorite_ranks.first(3).each.with_index(1) do |post, i| %>
        <div class="col-md-4 mb-4">
          <div class="card", style="width: 300px; height: 450px;">
            <%= image_tag post.get_image, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">第<%= i %>位</h5>
            <% if post.name.length > 50 %>
              <h6 class="mb-2 text-dark"><%= post.name[0..49] + '...' %></h6>
            <% else %>
              <h6 class="mb-2 text-dark"><%= post.name %></h6>
            <% end %>
            <p><%= l post.created_at %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>