<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2 class="my-5"><%= @customer.name %> さんの会員情報編集</h2>
      <%= form_with model:@customer, url:admin_customer_path, method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :"会員ID", class: "mr-4" %>
          <%= f.label :"#{@customer.id}", :size => "30" %>
       </div>
        <div class="form-group">
          <%= f.label :"氏名" %>
          <%= f.text_field :name, class: "form-control mb-4", autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.label :"メールアドレス" %>
          <%= f.email_field :email, class: "form-control mb-5" %>
        </div>
        <div class="form-group">
          <%= f.label :"会員ステータス", class: "mr-4" %>
          <%= f.radio_button :is_deleted, "false" %>
          <%= f.label :is_deleted, "有効", class: "mr-4" %>
          <%= f.radio_button :is_deleted, "true" %>
          <%= f.label :is_deleted, "退会" %>
        </div>
        <div class="form-group">
          <%= f.submit "変更を保存", class: "btn btn-success mt-5", style: "width: 200px;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


 