<div class="container">
  <h2 class="my-5">会員一覧</h2>
    <div class="col-md-6">
      <%= render 'admin/searches/customer_form', keyword: @keyword %>
    </div>
  <div class="row">
    <div class="table-responsive mt-5">
      <table class="table table-striped table-bordered">
        <thead class="table-secondary">
          <tr>
            <th>会員ID</th>
            <th>プロフィール画像</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= image_tag customer.get_profile_image, size: '50x50', class: 'rounded-circle' %></td>
              <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_deleted == false %>
                  <p class="text-success">有効</p>
                <% else %>
                  <p>退会</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @customers %>
  </div>
</div>