<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-3">
      <div class="btn-group">
        <%= link_to '新しい順', admin_post_items_path(latest: "true"), class: 'btn btn-secondary' %>
        <%= link_to '古い順', admin_post_items_path(old: "true"), class: 'btn btn-secondary' %>
        <%= link_to 'コメントの多い順', admin_post_items_path(comment_count: "true"), class: 'btn btn-secondary' %>
        <%= link_to 'いいね数の多い順', admin_post_items_path(favorite_count: "true"), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <%= render 'admin/searches/form', keyword: @keyword  %>
    </div>
    <div class="col-md-4">
      <%= render 'public/post_items/tag_form' %>
    </div>
  </div>
</div>
<% @post_items.each do |post_item| %>
  <div class="card mx-auto shadow-lg my-4" style="width: 700px">
  <%= link_to admin_post_item_path(post_item.id) do %>
    <%= image_tag post_item.get_image, class:"card-img-top"; %>
  <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p>
            <%= link_to(admin_post_item_path(post_item), class:"text-dark") do %>
              <h4><%= post_item.name %></h4>
            <% end %>
          </p>
          <p class="card-text">使用用途：<%= post_item.explanation %></p>
          <span><i class="fas fa-user"></i> <%= post_item.customer.name %> ｜ </span>
          <span><i class="far fa-comment"></i><%= post_item.post_comments.count %> ｜ </span>
          <span><i class="fas fa-eye"></i><%= post_item.view_counts.count %> | </span>
          <span><i class="fas fa-heart"></i> <%= post_item.favorites.count %></span>
          <p>投稿日時：<%= l post_item.created_at %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-center">
  <%= paginate @post_items %>
</div>