<div class="container">
  <div class="row">
    <div class="col-md-8 offset-3">
      <h4>商品画像</h4>
       <%= image_tag @post_item.get_image, size: "500x500" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <h4>商品名</h4>
      <%= @post_item.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <h4>価格</h4>
      <%= @post_item.price %>円
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <h4>説明</h4>
      <%= @post_item.explanation %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <h4>使用してみた感想</h4>
      <%= @post_item.thoughts %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <h4>おすすめポイント</h4>
      <%= @post_item.recommend_point %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <h4>ジャンル</h4>
      <% @post_item.tags.each do |tag| %>
      <span><%= tag.name %></span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      閲覧数: <%= @post_item.view_counts.count %>
      <!--<span id="favorite_buttons_<%= @post_item.id %>">-->
      <!--<#%= render 'public/favorites/btn', post_item: @post_item %>-->
      <!--</span>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <%= link_to '投稿編集', edit_admin_post_item_path(@post_item), class: "btn btn-sm btn-success" %>
      <%= link_to '投稿削除', admin_post_items_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-3">
      <div class="new-comment">
        <%= render 'public/post_comments/index', post_item: @post_item %>
     </div>
    </div>
  </div>
</div>