<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-1 my-3" style="font-size: 24px;">
      <%= link_to admin_customer_path(@post_item.customer), class:"text-dark" do %>
      <%= image_tag @post_item.customer.get_profile_image, size: '70x70', class: 'rounded-circle' %>
      <%= @post_item.customer.name %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 mb-4 text-center" style="font-size: 32px;">
        <%= @post_item.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= image_tag @post_item.get_image, size: "500x500", class: "img-fluid" %>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-6 offset-md-3">
      <span class="h4 mr-3">商品価格</span>
      <%= number_with_delimiter(@post_item.price, delimiter: ',') %>円
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4>使用用途</h4>
      <span class="bordered-element mb-4"><%= @post_item.explanation %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4>使用してみた感想</h4>
      <span class="bordered-element mb-4"><%= @post_item.thoughts %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4>おすすめポイント</h4>
      <ul class="bullet-list">
        <% @post_item.recommend_point.split("\n").each do |point| %>
          <li class="custom-bullet md-3"><%= point %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4>ジャンル</h4>
      <% @post_item.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-3">
      閲覧数: <%= @post_item.view_counts.count %> |
      <span><i class="fas fa-heart"></i> <%= @post_item.favorites.count %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <%= link_to '投稿編集', edit_admin_post_item_path(@post_item), class: "btn btn-sm btn-success mr-3", style: "width: 120px;" %>
        <%= link_to '投稿削除', admin_post_item_path(@post_item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger", style: "width: 120px;" %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <div class="new-comment">
        <%= render 'admin/post_comments/index', post_item: @post_item %>
      </div>
    </div>
  </div>
</div>