<%= form_with(model: [@post_item, @post_comment], method: :post, local: false) do |f| %>
  <%= f.hidden_field :parent_id %>
  <div class="form-group">
    <%= f.text_area :comment, class: 'form-control', style: 'width: 350px;', placeholder: "返信をここに入力してください" %>
  </div>
  <%= f.submit '送信', class: 'btn btn-primary rounded-pill' %>
  <%= link_to 'キャンセル', post_item_path(@post_item), class: 'btn btn-secondary rounded-pill' %>
<% end %>