<table>
  <tr>
    <td>
      <%= link_to customer_path(reply.customer) do %>
        <%= image_tag post_item.customer.get_profile_image, class: "rounded-circle", size: "100x100" %><br>
        <%= reply.customer.name %>
      <% end %>
    </td>
    <td>
      <%= reply.comment %>
    </td>
    <td>
      <% if reply.customer == current_customer %>
        <%= link_to "削除", post_item_post_comment_path(post_item, reply.id), method: :delete, remote: true, class: "btn btn-danger pull-right", style: "width: 70px;" %>
      <% end %>
    </td>
  </tr>
</table>

