<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">ユーザーサインアップ</h5>
      <div class="form-body p-4">
        <%= form_with model: @customer, url: customer_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :"ユーザー名" %><br>
          <%= f.text_field :name, autofocus: true, placeholder:"ベストバイ" %>
        </div>
        <div class="field">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %>
        </div>
        <div class="field">
          <%= f.label :"パスワード" %>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上)
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="field">
          <%= f.label :"パスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class:"btn btn-lg btn-block btn-success mt-5" %>
        </div>
        <% end %>
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>
