<table>
  <tbody>
    <p>コメント件数：<%= post_item.post_comments.count %></p>
    <% post_item.post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= link_to admin_customer_path(post_comment.customer) do %>
          <%= image_tag post_comment.customer.get_profile_image, class: "rounded-circle", size: "100x100" %><br>
          <%= post_comment.customer.name %>
        <% end %>
      </td>
      <td class= "pl-5">
        <%= post_comment.comment %>
      </td>
      <td class= "pl-4">
        <%= link_to "削除", admin_post_item_post_comment_path(post_item, post_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>