<div class='container'>
  <div class='row'>
    <div class="col-md-10 mx-auto">
      <h2 class="my-5">グループ編集</h2>
      <%= form_with model: @group, url: admin_group_path(@group.id), method: :patch, local: true do |f| %>
        <%= render 'layouts/errors', obj: @group %>
        <div class="form-group">
          <%= f.label :グループ画像, class: "h4" %>
          <%= f.file_field :image, class: "form-control-file mb-4", accept: 'image/*' %>
        </div>
        <div class="form-group">
          <%= f.label :グループ名, class: "h4" %>
          <%= f.text_field :name, class: "form-control mb-4", style: "width: 500px;" %>
        </div>
        <div class="form-group">
          <%= f.label :グループ概要, class: "h4" %>
          <%= f.text_area :introduction, class: "form-control mb-5" %>
        </div>
        <div class="form-group">
          <%= f.submit "変更を保存する", class: 'btn btn-success', style: "width: 200px;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>