<h1>チャットグループ一覧</h1>
<% @groups.each do |list| %>
  <%= link_to "/admin/groups/#{list.id}" do %>
  <%= image_tag list.get_image, size: '50x50' %>
  <%= list.name %>
  <% end %>
  <li class="group-list-table-each-group">
    <%= link_to '編集', edit_group_path(list.id), method: :get %>
    <%= link_to '削除', "/groups/#{list.id}", method: :delete %>
  </li>
<% end %>