<div class="container">
  <h1 class="text-center my-5">グループ一覧</h1>
  <div class="row my-4 justify-content-center">
    <div class="col-md-5">
      <div class="group-search">
      <%= form_with url: admin_groups_path, method: :get, local: true, class: 'input-group' do |f| %>
        <%= f.text_field :keyword, placeholder: "グループ検索", class: "form-control" %>
        <%= f.submit '検索', class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
  </div>
  <% if @groups.empty? %>
    <div class="group-none text-center mt-3">
      <%= @group_none %>
    </div>
  <% else %>
    <div class="row">
      <div class="card-columns mx-auto mt-3" style="width: 100%;">
        <% @groups.each do |list| %>
          <div class="card my-5" style="width: 330px; height: 510px;">
            <%= link_to "/groups/#{list.id}", class: "text-decoration-none" do %>
              <%= image_tag list.get_image, size: '200x300', class: "card-img-top" %>
              <div class="card-body" style="height: 150px;">
                <h5 class="card-title text-dark"><%= list.name %></h5>
                <p class="card-text text-dark">
                  <% if list.introduction.length > 50 %>
                    <%= list.introduction[0..49] + '...' %>
                  <% else %>
                    <%= list.introduction %>
                  <% end %>
                </p>
              </div>
            <% end %>
              <div class="card-footer">
                <%= link_to '編集', edit_admin_group_path(list.id), method: :get, class: "btn btn-success mx-3", style: "width: 100px;" %>
                <%= link_to '削除', "/admin/groups/#{list.id}", method: :delete, class: "btn btn-danger mx-3", style: "width: 100px;" %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class='col-md-12 offset-md-5 mt-4'>
  <%= paginate  @groups %>
</div>