<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-4">
      <div class="btn-group">
        <%= link_to '新しい順', post_items_path(latest: "true"), class: 'btn btn-secondary' %>
        <%= link_to '古い順', post_items_path(old: "true"), class: 'btn btn-secondary' %>
        <%= link_to 'コメントの多い順', post_items_path(comment_count: "true"), class: 'btn btn-secondary' %>
        <%= link_to 'いいね数の多い順', post_items_path(favorite_count: "true"), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <%= render 'public/searches/form', keyword: @keyword  %>
    </div>
    <div class="col-md-4">
      <%= render 'tag_form' %>
    </div>
  </div>
</div>
  <%= render 'index', post_items: @post_items %>
<div class="d-flex justify-content-center">
  <%= paginate @post_items %>
</div>



